*{
  margin: 0;
  padding: 0;
}

.App{
  background-color: #111b21;
  width: 100vw;
  height: 100vh;
}

.Main-container{
    background-color: #2b373d;;
    width: 94vw;
    height: 94vh;
    margin: auto;
    position: relative;
    top: 23px;
}